body {
  background-color: #f8f8ff;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}

/* Keeps the top navigation bar fixed and always visible */
.top-nav {
  overflow: hidden;
  position: fixed;
  width: calc(100% - 10px);
  padding-top: 10px;
}

/* Style the links inside the navigation bar */
.top-nav a {
  float: right;
  background-color: #2d2d2d;
  color: #f8f8ff;
  padding: 14px 16px; 
  text-decoration: none;
  font-size: 17px;
  border: 2px solid #2d2d2d;
}

/* Change the color of links on hover */
.top-nav a:hover {
  background-color: #f8f8ff;
  color: #2d2d2d;
}

/* Add a color to the active/current link */
.top-nav a.active {
  background-color: #f8f8ff;
  color: #2d2d2d;
}

/* Creates the page footer */
.footer {
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #2d2d2d;
  color: #f8f8f8;
}

.social-media-list {
  list-style: none;
}

ion-icon {
  color: #f8f8f8;
}